body {
	background: #ffffff;
	font-family:'Myraid Pro', 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
	color: #050505;
	text-rendering: optimizeLegibility;
}
/*a:link, a:visited { color: #ccc; text-decoration: none; }
a:hover { color: #ccc; text-decoration: underline;}
a:active { color: #ccc; }*/
a {
	color: #465e99;
}
p {
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
	line-height: 1.4;
}
#wrapper {
	position: relative;
	width: 988px;
	margin: 0 auto;
	margin-top: 0;
	padding-top: 0;
	top: 0;
}
#header {
	position: fixed;
	width: 180px;
	font-stretch: condensed;
	font-weight: bold;
	min-height:750px;
	height: 100%;
	border-right: 12px solid #050505;
	z-index: -9999;
}
	#header h1 {
		padding-top: 5px;
		margin-bottom: 5px;
	}
		#header h1 a{
			text-decoration: none;
		}
		#header h1 .small {
			font-size: 14px;
			color: #050505;
		}
		#header h1 .big {
			font-size: 62px;
			color: #465e99;
		}
	#header #divider {
		width: 110px;
		height: 1px;
		background-color: #050505;
		margin-left: 30px;
		margin-bottom: 10px;
	}
	#header #readonline {
		padding-bottom:  10px;
	}
		#header #readonline a {
			color: #fff;
			background-color: #656565;
			display: block;
			text-decoration: none;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			padding: 10px 0 10px 10px;
			font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
		}
			#header #readonline a:hover {
				background-color: #465e99;
			}
			#header #readonline a h2 {
				font-size: 24px;
				margin-bottom: 10px;
			}
			#header #readonline a p {
				font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
			}
	 .infostuff {
		font-size: 12px;
		font-weight: bolder;
		font-stretch: normal;
	}
	.date {
		padding-top: 10px;
	}
	.weather {
		padding-bottom: 10px;
	}
	#nav {
		overflow-y: scroll;
	}
	#nav li {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
	}
		#nav li.current {
			background-color: #050505;
		}
		#nav li.current {
			padding-left: 5px;
		}
		#nav li:hover {
			background-color: #c0c9dc;
		}
		#nav li.nohover:hover {
			background-color: #fff;
		}
		#nav li.lastnavitem {
			margin-top: 10px;
		}
		
		#nav li.hover ul {
			display: none;
		}
			#nav li.hover:hover ul {
				display: block;
			}
			
			#nav li.hover ul li {
				width: 165px;
			}
			#nav li.hover ul li a{
				padding-left: 15px;
			}
				#nav li.hover ul li a:hover {
					background-color: #465e99;
					color: #fff;
					-webkit-transition: all 0.15s ease;
					-moz-transition: all 0.15s ease;
				}
		
	#nav li a {
		color: #050505;
		text-decoration: none;
		text-transform: capitalize;
		width: 100%;
		padding: 5px 0;
		display: block;
		font-size: 15px;
		line-height: 14px;
		font-family:'Myraid Pro', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	}
		#nav li.current a {
			color: #fff;
		}
		#searchbox {
			outline: none;
			border: 1px solid #050505;
			padding: 5px;
			margin: 0;
			float: left;
			width: 120px;
		}
			#searchbox:focus {
				border-color: #600;
			}
		#searchsubmit{
			width: 36px;
			margin: 0;
			padding: 0;
			border-width: 1px 1px 1px 0;
			border-color: #050505;
			padding: 5px 0;
			float: left;
			background-color: #fff;
		}
	 #ad {
		position: absolute;
		bottom: 0px;
		font-stretch: normal;
		font-weight: normal;
		color: #fff;
		background-color: #050505;
		padding: 5px;
		text-align: inherit;
	}
		 #ad #powered {
			display: block;
			margin-top: 10px;
			font-size: 12px;
			text-align: left;
			font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
		}
#content {
	width: 796px;
	float: right;
	z-index: 9999;
	background-color: #fff;
}
#wrapper.storypage #content {
	width: 598px;
	float: right;
	margin-right: 182px;
}
#alert {
		color: #fff;
		background-color: #465e99;
		padding: 5px 0 5px 12px;
		font-stretch: condensed;
		font-weight: bold;
		position: relative;
		width: 780px;
		height: 20px;
	}
	#featured {
		margin-top: 12px;
		margin-left: 12px;
		width: 780px;
	}
		#featured ul#featuredstories li {
			display: none;
			-webkit-transition: all .6s ease;
			-moz-transition: all .6s ease;
		}
		 #featured ul#featuredstories li.selected {
			display: block;
			height: 320px;
			overflow: hidden;
			position: relative;
		}
		#featuredstories h2 {
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 10px;
		}
		#featuredstories img {
			float: left;
			max-height: 230px;
			max-width: 330px;
			padding: 5px;
			margin: 0 5px 0 0;
			background-color: #eee;
			border: 1px soild #ddd;
			z-index: 9999;
		}
		#featuredstories p {
			z-index: -999;
		}
		#featuredstories .fade {
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
			position: absolute;
			bottom: 20px;
			width: 100%;
			height: 20px;
			z-index: 1;
		}
		#featuredstories .jump {
			position: absolute;
			bottom: 0px;
			background-color: #fff;
			width: 100%;
			text-align: right;
			z-index: 9999;
		}
	#storylist {
		margin: 20px 0 12px 0;
		height: 157px;
	}
		#storylist ul li {
			cursor: pointer;
			background-color: #d8dde8;
			height: 68px;
			padding: 5px;
			width: 380px;
			display: block;
			float: left;
			color: #050505;
			-webkit-transition: all 0.5s ease;
		}
		#storylist ul li.left {
			border-right: 1px solid #111620;
			width: 379px;
		}
		#storylist ul li.top {
			border-bottom: 1px solid #111620;
		}
		#storylist ul li.selected, #storylist ul li:hover {
			background-color: #111620;
			color: #fff;
		}
		#storylist ul li:last-child {
			border-bottom: none;
		}
			#storylist ul li div.teaser {
				width: 309px;
				float: right;
				height: 68px;
				overflow-y: hidden;
			}
				#storylist ul li p {
					font-size: 14px;
				}
				#storylist ul li img {
					max-height: 60px;
					max-width: 60px;
					float: left;
					margin-right: 10px;
				}
	#promo {
		/*background-color: #d3d6dd;*/
	}
	#promo h2{
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 10px;
	}
	#promo p {
		margin-bottom: 10px;
	}
		#promo p:last-of-type {
			margin-bottom: 0;
		}
	#main {
		margin-top: 20px;
		margin-left: 12px;
		height: 100%;
	}
		.mainborder {
			background-color: #050505;
			position: relative;
			left: -12px;
			width: 792px;
			height: 15px;
			margin-bottom: 20px;
		}
		#main #articleselect {
			color: #fff;
			background-color: #465e99;
			font-stretch: condensed;
			font-weight: bold;
			height: 18px;
			padding: 4px 0;
			margin-bottom: 20px;
			text-align: center;
		}
			#main #articleselect li {
				display: inline-block;
				padding-right: 10px;
				margin-right: 5px;
				border-right: 1px solid #fff;
				line-height: 1;
				padding-bottom: 2px;
			}
				#main #articleselect li:last-of-type {
					padding-right: 0;
					margin-right: 0;
					border-right: none;
				}
			#main #articleselect li.selected {
				color: #d8dde8;
			}
		#main #columnwrapper {
			position: relative;
			height: auto;
			float: none;
			display: block;
		}
		#main #columnwrapper ul.list li {
			width: 380px;
			height: auto;
			line-height: 1.3;
			margin-bottom: 20px;
			float: left;
		}
		#main #columnwrapper ul.list li:nth-of-type(even) {
			margin-left: 20px;
		}
			#main #columnwrapper ul.list li ul li {
				margin-bottom: 8px;
				padding-bottom: 8px;
				border-bottom: 1px solid #ddd;
			}
				 .animal {
					display: none;
				}
				#main #columnwrapper ul.list li ul li:last-child {
					border-bottom: none;
					margin: 0;
					padding: 0;
				}
				#main #columnwrapper ul.list li .date {
					font-size: 12px;
					color: #777;
					margin-top: 10px;
				}
				#main #columnwrapper ul.list li .articleinfo {
					margin-bottom: 5px;
				}
					#main #columnwrapper ul.list li .articleinfo h3 {
						font-size: 18px;
					}
					#main #columnwrapper ul.list li .articleinfo h3 a {
						text-decoration: none;
					}
						#main #columnwrapper ul.list li .articleinfo h3 .hot {
							color: #fff;
							background-color: #465e99;
							padding: 4px;
							float: right;
							font-size: 13px;
							text-transform: uppercase;
							font-weight: bold;
						}
					#main #columnwrapper ul.list li .articleinfo h5 {
						font-size: 12px;
						color: #777;
					}
					
	#content .story {
		margin-top: 26px;
		font-size: 16px;
	}
		#content .story h2 {
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 5px;
		}
		#content .story .author {
			font-weight: lighter;
			font-size: 16px;
			margin-bottom: 16px;
			font-style: italic;
			font-family: Georgia, 'Times New Roman', Times, sans-serif;
		}
		#content .story p {
			margin-bottom: 16px;
		}
		#content .story p:last-of-type {
			margin-bottom: 12px;
		}
		#content .story p img {
			max-height: 336px;
			max-width: 336px;
			float: left;
			margin: 10px;
		}
		#content .story p:first-of-type img:first-of-type {
			margin-left: 0;
			margin-top: 0;
		}
		#lights {
			width: 14px;
			height: 24px;
			outline: none;
			border: none;
		}
		#more {
			position: absolute;
			margin-top: 80px;
			width: 170px;
			right: 0px;
		}
			#more .sidebar {
				border: 1px solid #010101;
			}
				#more .sidebar h4 {
					width: 168px;
					padding: 5px 0 7px 0;
					margin-bottom: 10px;
					line-height: 1;
					text-align: center;
					color: #fff;
					background-color: #465e99;
					float: right;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
				}
					#more #related ul li {
						padding: 10px;
						border-bottom: 1px solid #010101;
					}
					#more #related ul li:last-of-type {
						border-bottom: none;
					}
						#more #related ul li img{
							max-height: 48px;
							max-width: 48px;
							float: left;
					}
			#more #social ul li {
				padding: 5px;
				width: 32px;
				height: 32px;
				float: left;
			}
			#more #social ul#sharebuttons li {
				text-indent: -9999px;
			}
			#more #social ul li a.button {
				width: 32px;
				height: 32px;
				display: block;
				background-repeat: no-repeat;
			}
				#more #social a#facebook_button {
					background-image: url('images/facebook_32.png');
				}
				#more #social a#twitter_button {
					background-image: url('images/twitter_32.png');
				}
				#more #social a#gplus_button {
					background-image: url('images/google_plus_32.png');
				}
				#more #social a#tumblr_button {
					background-image: url('images/tumblr_32.png');
				}
				#more #social a#posterous_button {
					background-image: url('images/posterous_32.png');
				}
	#results {
		width: 780px;
		margin-left: 12px;
	}
	#results, .games {
		margin-top: 26px;
	}
		#results h2, .games h2{
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 10px;
		}
		#results #q {
			width: 300px;
		}
		#results .pagination, .games .pagination {
			margin: 15px 0;
		}
		#results #searchresults ul li, .games ul#gamelist li {
			padding: 10px 5px;
			border-bottom: 2px solid #050505;
		}
				#results #searchresults ul li:last-of-type, .games ul#gamelist li:last-of-type {
					border-bottom: none;
				}
				#results #searchresults ul li:first-of-type, .games ul#gamelist li:first-of-type {
					padding-top: 0;
				}
			#results #searchresults ul li .articleinfo, .games ul#gamelist li .articleinfo  {
				margin-bottom: 10px;
			}
				#results #searchresults ul li .articleinfo h3, #results #searchresults ul li .articleinfo h5 {
					display: inline-block;
				}
				#results #searchresults ul li .articleinfo h5{
					font-style: italic;
					font-size: 12px;
				}
			#results #searchresults ul li p, .games ul#gamelist li p {
				margin-bottom: 10px;
			}
	.games ul#game-categories {
		display: block;
		margin: 10px 0;
	}
		.games ul#game-categories li {
			display: inline-block;
		}
		.games ul#game-categories li a{
			display: inline-block;
			height: 15px;
			padding: 8px;
			margin: 5px;
			text-decoration: none;
			background-color: #465e99;
			color: #fff;
			line-height: 1;
		}
		.games ul#game-categories li a:hover{
			background-color: #41568c;
		}
		.games ul#game-categories li a:active{
			background-color: #4c66a6;
		}
			.games ul#game-categories li.current a {
				cursor: pointer;
				background-color: #050505;
			}
				.games ul#game-categories li a:first-of-type {
					margin-left: 0;
				}
		.games ul#gamelist li p img {
			float: left;
			height: 100px;
			width: 100px;
			margin-right: 10px;
			border: 2px solid #050505;
		}
		.games ul#gamelist li p {
			height: 104px;
		}
	#foot {
		position: relative;
		left: -12px;
		width: 780px;
		padding: 10px 0 10px 20px;
		background-color: #050505;
		color: #fff;
		clear: both;
	}
		#foot h6 {
			margin-bottom: 20px;
		}