body {
	background: #ffffff;
	font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
	color: #050505;
	text-rendering: optimizeLegibility;
}
/*a:link, a:visited { color: #ccc; text-decoration: none; }
a:hover { color: #ccc; text-decoration: underline;}
a:active { color: #ccc; }*/
a {
	color: #600;
}
p {
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
	line-height: 1.3;
}
#wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
#header {
	position: fixed;
	width: 180px;
	float: left;
	font-stretch: condensed;
	font-weight: bold;
	min-height:600px;
	height: 100%;
	border-right: 20px solid #050505;
}
	#header h1 {
		padding-top: 5px;
		padding-bottom: 10px;
	}
		#header h1 .small {
			font-size: 14px;
		}
		#header h1 .big {
			font-size: 62px;
		}
	#nav li {
		padding: 5px 0;
		-webkit-transition: all 0.5s ease;
		font-size: 15px;
		line-height: 14px;
	}
		#nav li.current {
			background-color: #050505;
			padding-left: 5px;
		}
		#nav li:hover {
			background-color: #ddd;
		}
		#nav li.nohover:hover {
			background-color: #fff;
		}
	#nav li a {
		color: #050505;
		text-decoration: none;
		text-transform: capitalize;
		width: 100%;
	}
		#nav li.current a {
			color: #fff;
		}
		#searchbox {
			outline: none;
			border: 1px solid #050505;
			padding: 5px;
			margin: 0;
			float: left;
		}
			#searchbox:focus {
				border-color: #600;
			}
		#searchsubmit{
			width: 36px;
			margin: 0;
			padding: 0;
			border-width: 1px 1px 1px 0;
			border-color: #050505;
			border-style: 1px;
			padding: 5px 0;
			float: left;
			background-color: #fff;
		}
	#ad {
		position: absolute;
		bottom: 0px;
		font-stretch: normal;
		font-weight: normal;
		color: #fff;
		background-color: #050505;
		padding: 5px;
		text-align: inherit;
	}
		#ad #powered {
			display: block;
			margin-top: 10px;
			font-size: 12px;
			text-align: left;
			font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
		}
#content {
	width: 780px;
	margin-left: 20px;
	margin-top: 10px;
	float: right;
}
	#featured ul#featuredstories li {
		display: none;
	}
	 #featured ul#featuredstories li.selected {
		display: block;
	}
	#featuredstories h2 {
		font-weight: bold;
		font-size: 42px;
		margin-bottom: 10px;
	}
	#featuredstories .headlinerimg {
		float: left;
		max-height: 300px;
		max-width: 300px;
		padding: 5px;
		margin: 0 5px 5px 0px;
		background-color: #eee;
		border: 1px soild #ddd;
		
	}
	#storylist {
		margin: 15px 0;
		height: 157px;
	}
		#storylist ul li {
			cursor: pointer;
			background-color: #050505;
			height: 68px;
			padding: 5px;
			width: 380px;
			display: block;
			float: left;
			color: #fff;
			-webkit-transition: all 0.5s ease;
		}
		#storylist ul li.top {
			border-bottom: 1px solid #1d1d1d;
		}
		#storylist ul li.left {
			border-right: 1px solid #1d1d1d;
			width: 379px;
		}
		#storylist ul li.selected, #storylist ul li:hover {
			background-color: #121212;
		}
		#storylist ul li:last-child {
			border-bottom: none;
		}
			#storylist ul li div.teaser {
				width: 309px;
				float: right;
				height: 68px;
				overflow-y: hidden;
			}
				#storylist ul li p {
					font-size: 14px;
				}
				#storylist ul li img {
					max-height: 60px;
					max-width: 60px;
					float: left;
					margin-right: 10px;
				}
	#main {
		margin: 15px 0;
		height: 100%;
	}
		#mainborder {
			position: relative;
			left: -20px;
			width: 800px;
			height: 20px;
			margin-bottom: 15px;
			background-color: #050505;
		}
		#main #columnwrapper {
			position: relative;
			height: auto;
			float: none;
			display: block;
		}
		#main .column {
			width: 380px;
			height: auto;
			line-height: 1.3;
			margin-bottom: 15px;
			float: left;
		}
		#main .column.last {
			margin-left: 20px;
		}
			#main .column ul li {
				margin-bottom: 8px;
				padding-bottom: 8px;
				border-bottom: 1px solid #ddd;
			}
				#main .column ul li:last-child {
					border-bottom: none;
					margin: 0;
					padding: 0;
				}
				#main .column .date {
					font-size: 12px;
					color: #777;
					margin-top: 10px;
				}
				#main .column .articleinfo {
					margin-bottom: 5px;
				}
					#main .column .articleinfo h3 {
						font-size: 18px;
					}
					#main .column .articleinfo h5 {
						font-size: 12px;
						color: #777;
					}
	#foot {
		position: relative;
		left: -20px;
		width: 780px;
		padding: 10px 0 10px 20px;
		background-color: #050505;
		color: #fff;
		clear: both;
	}
		#foot h6 {
			margin-bottom: 15px;
		}